---
import EducationIcon from "../../icons/EducationIcon.astro";
import WorkIcon from "../../icons/WorkIcon.astro";
import Card from "./Card.jsx";

const { index, id, type, title, subtitle, resume, description, date, tags } =
  Astro.props;
---

<li class="w-full flex relative">
  <div class="w-1/2 flex justify-end pr-8">
    {
      index % 2 === 0 && (
        <Card
          client:load
          id={id}
          title={title}
          subtitle={subtitle}
          resume={resume}
          description={description}
          date={date}
          tags={tags}
        />
      )
    }
  </div>
  <span
    class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center w-6 h-6 bg-white rounded-full ring-8 ring-white"
  >
    {type === "education" ? <EducationIcon /> : <WorkIcon />}
  </span>
  <div class="w-1/2 flex justify-start pl-8">
    {
      index % 2 !== 0 && (
        <Card
          client:load
          id={id}
          title={title}
          subtitle={subtitle}
          resume={resume}
          description={description}
          date={date}
          tags={tags}
        />
      )
    }
  </div>
</li>
