---
import EducationIcon from "../../icons/EducationIcon.astro";
import WorkIcon from "../../icons/WorkIcon.astro";
import ProjectIcon from "../../icons/ProjectIcon.astro";
import Card from "./Card.jsx";

import { BG_COLOR, BORDER_COLOR } from "../../utils/colors";

const { index, id, type, title, subtitle, resume, description, date } =
  Astro.props;
---

<li
  class="flex items-center mb-8"
  style=`${index % 2 === 0 ? "" : "flex-direction: row-reverse;"}`
>
  <span
    class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -start-3 ring-8 ring-white"
  >
    {
      type === "education" ? (
        <EducationIcon />
      ) : type === "project" ? (
        <ProjectIcon />
      ) : (
        <WorkIcon />
      )
    }
  </span>
  <div
    class=`rounded-lg p-4 ${BG_COLOR} border ${BORDER_COLOR} ${index % 2 === 0 ? "ml-8" : "mr-8"} border-t-2 border-t-blue-200 hover:scale-105 transition`
  >
    <Card
      client:load
      id={id}
      title={title}
      subtitle={subtitle}
      resume={resume}
      description={description}
      date={date}
    />
  </div>
</li>
